name: Deploy to Arch Server

# when push commit to main branch 
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        # Use an existing Action specialized for SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22 
          script: |
            # These commands will run on your Arch server
            echo "Starting deployment..."
            cd ~/ex_cute
            git pull origin main
            npm install
            npm run build
            pm2 restart ex_cute
            echo "Deployment successful!"