name: Deploy to Self-Hosted Arch

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4
      
      - name: Install & Build
        run: |
          npm install
          npm run build
      
      - name: Restart PM2
        run: |
          pm2 restart "ex_cute"
